{% extends "base_generic.html" %}

{% block content %}
  <div class="container">
  <div class="row pricing">
    <h1 class="title">Categorías</h1>
    {% for category in num_category %}

    <div class="col-md-3">
      <div class="well well_class">
        <h3 class="title_index"><b>{{ category.name }}</b></h3>
        <hr>
        <p>
          <b>Total subcategorias:</b>  {{category.subcategory_set.all.count}}
        </p>
        <hr>
        {% for category_id, products_by_category in num_products_by_category.items %}
            {% if category_id == category.id %}
              <p>
                <b>Total productos:</b>  {{ products_by_category }} 
              </p>
            {% endif %}
        {% endfor %}
        
        <hr >
        <p>
          {% for category_id, num_total_red_alert in num_products_red_alert.items %}
              {% if category_id == category.id%}
                 <p class="alerta_roja_index">
                    <b>Alertas rojas:</b> {{num_total_red_alert}}
                 </p>
              {% endif%}
            {% endfor %}
        </p>
        <hr  >
        {% for category_id, total_red_yellow_by_category in num_products_yellow_alert.items %}
          {% if category_id == category.id %}
           <p class="alerta_amarilla_index">
             <b>Alertas amarillas:</b> {{total_red_yellow_by_category}}
           </p>
          {% endif%}
        {% endfor %}
        <hr  >
        {% for category_id, total_expired_products_by_category in num_expired_products.items %}
          {% if category_id == category.id %}
           <p>
             <b>Productos vencidos:</b> {{total_expired_products_by_category}}
           </p>
          {% endif%}
        {% endfor %}
        <hr >
          <a href="{% url 'catalog:subcategories' category.id %}" class="btn btn-primary btn">Ver subcategoría </a>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
  



  {% endblock %}