{% extends "base_generic.html" %}

{% block content %}

<div class="container">
  <div class="row pricing">
    <h1 style=" display: flex; justify-content: center;align-items: center;margin-bottom: 1%;">Categorias</h1>
    {% for category in num_category %}

    <div class="col-md-3">
      <div class="well" style="padding-top: 0 !important;padding-bottom: 5px !important">
        <h3 style="margin-top: 4px;"><b>{{ category.name }}</b></h3>
        <hr style="margin-top: 1px !important; margin-bottom: 1px !important">
        <p>
          <b>Total subcategorias:</b>  {{category.subcategory_set.all.count}}
        </p>
        <hr style="margin-top: 1px !important; margin-bottom: 1px !important">
        {% for category_id, products_by_category in num_products_by_category.items %}
            {% if category_id == category.id %}
              <p>
                <b>Total productos:</b>  {{ products_by_category }} 
              </p>
            {% endif %}
        {% endfor %}
        
        <hr style="margin-top: 1px !important; margin-bottom: 1px !important">
        <p>
          {% for category_id, num_total_red_alert in num_products_red_alert.items %}
              {% if category_id == category.id%}
                 <p>
                    <b style="color:red">Alertas rojas:</b> {{num_total_red_alert}}
                 </p>
              {% endif%}
            {% endfor %}
        </p>
        <hr style="margin-top: 1px !important; margin-bottom: 1px !important">
        {% for category_id, total_red_yellow_by_category in num_products_yellow_alert.items %}
          {% if category_id == category.id %}
           <p>
             <b style="color: #FFA100">Alertas amarillas:</b> {{total_red_yellow_by_category}}
           </p>
          {% endif%}
        {% endfor %}
        <hr style="margin-top: 1px !important; margin-bottom: 1px !important">
        {% for category_id, total_expired_products_by_category in num_expired_products.items %}
          {% if category_id == category.id %}
           <p>
             <b>Productos vencidos:</b> {{total_expired_products_by_category}}
           </p>
          {% endif%}
        {% endfor %}
        <hr style="margin-top: 1px !important; margin-bottom: 1px !important">
          <a href="{% url 'catalog:subcategories' category.id %}" class="btn btn-primary btn">Ver subcategoria </a>
        </div>
      </div>
      {% endfor %}
    </div>

  {% endblock %}