.header_products_subcategory{
	display: flex; 
	justify-content:space-around; 
	align-items: center;

}

.alerta{
	float:right; 
	width: 20px; 
	height: 20px; 
	border-radius: 50%;
}
.alerta_roja_text{
	color: red
}
.alerta_circulo_rojo{
	background: red;
}
.alerta_amarillo_text{
	color: #FFA100;
}
.alerta_circulo_amarillo{
	background: #FFA100;
}
.alerta_circulo_vencido{
	background: gray;
}
.container_boton .boton_detalle{
	color: #333 !important; padding: 5px;border-radius: 5%;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);

}