{% extends "base_generic.html" %}

{% block content %}
<div class="container">
  <div class="row pricing row_import_data">
    <h1 class="title_import_data">Subir archivo excel</h1>
    <div class="col-md-4" >
      <div class="well well_import_data">
        <form action="{% url 'catalog:get_import_data'%}" method="post" id="file-upload-form" enctype="multipart/form-data">
          {% csrf_token %}
          <div class="container_form_import_data">
            <input type="file"
            title="Upload excel file"
            name="excel_file"
            class="boton_seleccionar" 
            required="required">

            <input id='upload-btn' type="submit"
            value="Cargar archivo"
            class="boton_cargar btn btn-primary btn ">

          </div>
        </form>
        <!-- Button trigger modal -->
        <!-- <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#myModal">
          Launch demo modal
        </button> -->
        <!-- success Modal -->
        <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class=" modal_exito modal-header bg-success">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="center_circle">
                  <div class="circle_modal">
                    <li  class="glyphicon glyphicon-ok"></li>
                  </div>
                </div>
              </div>
              <div class="modal-body text_center_modal">
                <h4 class="modal-title" id="myModalLabel">Exito</h4>
                <p>Los datos han sido guardados en la base de datos exitosamente</p>
              </div>
              <div class="modal-footer">
                <div class="container_exito_boton">
                  <button type="button" class="boton_salir_color btn btn-lg" data-dismiss="modal"> Salir </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- alerta Modal (error in data excel) -->
        <div class="modal fade" id="modalAlertaDataExcel" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="alerta_error_modal modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <div class="center_circle">
                  <div class="circle_modal">
                    <li class="glyphicon glyphicon-remove"></li>
                  </div>
                </div>
              </div>
              <div class="modal-body text_center_modal">
                <h4  class="modal-title" id="myModalLabel">Error</h4>
                <p  class="" id="">Hay datos que no coinciden en la base de datos, por favor revise las categorías o las subcategorías en las filas <span id="datos"></span> del archivo excel </p>
              </div>
              <div class="modal-footer">
                <div class="boton_salir" >
                  <button  type="button" class="boton_salir_color btn btn-lg" data-dismiss="modal"> Salir </button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <!-- loading ciruclar svg Modal -->
        <div class="modal fade" id="loading" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
          <div class="center_svg modal-dialog " role="document" >
            <div class="loading">Loading</div>
            <svg width="38" height="38" viewBox="0 0 38 38" xmlns="http://www.w3.org/2000/svg" stroke="#fff">
              <g fill="none" fill-rule="evenodd">
                <g transform="translate(1 1)" stroke-width="2">
                  <circle stroke-opacity=".5" cx="18" cy="18" r="18"/>
                  <path d="M36 18c0-9.94-8.06-18-18-18">
                    <animateTransform
                    attributeName="transform"
                    type="rotate"
                    from="0 18 18"
                    to="360 18 18"
                    dur="1s"
                    repeatCount="indefinite"/>
                  </path>
                </g>
              </g>
            </svg>
          </div>
        </div>
      </div>
    </div>
  </div>

  <script>
    $(document).ready(function(){
    // var $loading = $('#loading').hide();
    var $loading = $('#loading');
     //Attach the event handler to any element
     $(document)
     .ajaxStart(function () {
          console.log('entro a ajaxStart')
          //ajax request went so show the loading image
          $loading.modal('show'); 
        })
     .ajaxStop(function () {
          console.log('entro a ajaxStop ')
         //got response so hide the loading image
          $loading.modal('hide'); 
         // $loading.hide();
       });

     url = '{% url 'catalog:get_import_data' %}';
     csrf_token = '{{ csrf_token }}';

     function upload(event) {
      event.preventDefault();
      var data = new FormData($('form').get(0));
      console.log(data)

      $.ajax({
        url:url,
        type: $(this).attr('method'),
        data: data,
        cache: false,
        processData: false,
        contentType: false,
        'csrfmiddlewaretoken': csrf_token,
        success: function(data) {
          console.log('data success')
          console.log(data)
          if (data['modal'] == 'success') {
            $('#myModal').modal('show'); 
          }else{
            var html = ''
            var miArray = data['bad_rows'];

            miArray.forEach( function(valor, indice, array) {
             if (indice === (miArray.length -1)) {
                // This is the last one.
                  html += valor
               }else{
                   html += valor+','
                 }
            });

            $('#datos').html(html)
            $('#modalAlertaDataExcel').modal('show'); 
          }
        },
        error:function(data){
          console.log('error')
          console.log(data)
        },
      });
      return false;
    }

    $(function() {
      $('form').submit(upload);
    });

  })
</script>






{% endblock %}