{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">

            <div class="panel panel-default panel-table">
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Productos</h3>
                  </div>
                  <div class="col col-xs-6 text-right">
                    <button type="button" class="btn btn-sm btn-primary btn-create">Crear producto</button>
                  </div>
                </div>
              </div>
              <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                  <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th>Subcategoria</th>
                        <th>Vencimiento</th>
                        <th>Lote</th>
                        <th>Unidades</th>
                        <th>Alerta</th>
                        <th><em class="fa fa-cog"></em></th>
                    </tr> 
                  </thead>
                  <tbody>

                    {% for product in num_products %}
                      <tr>
                        <td class="hidden-xs">{{ product.id }}</td>
                        <td>{{ product.name }}</td>
                        <td>{{ product.category }}</td>
                        <td>{{ product.sub_category}}</td>
                        <td>{{ product.expiration_date}}</td>
                        <td>{{ product.lot}}</td>
                        <td>{{ product.units}}</td>
                        {% if product.alert == "red_alert" %}
                            <td>Alerta roja</td>
                          {% elif product.alert == "yellow_alert" %}
                            <td>Alerta amarilla</td>
                          {% else %}
                            <td>Producto vencido</td>
                        {% endif %}
                        <td align="center">
                          <a href="{% url 'catalog:product_detalle' product.id %}" class="btn btn-default"><em class="">Ver detalle</em></a>
                          <!-- <a class="btn btn-default"><em class="fa fa-pencil"></em></a> -->
                          <!-- <a class="btn btn-danger"><em class="fa fa-trash"></em></a> -->
                        </td>
                      </tr>
                    {% endfor %}
                  </tbody>
                </table>
            
              </div>





             <div class="panel-footer">
            <div class="row">
              <div class="col col-xs-4">Page 1 of 
              </div>
              <div class="col col-xs-8">




                {% if num_products.has_other_pages %}
                <ul class="pagination hidden-xs pull-right">
                  {% if num_products.has_previous %}
                  <li><a href="?page={{ num_products.previous_page_number }}">&laquo;</a></li>
                  {% else %}
                  <li class="disabled"><span>&laquo;</span></li>
                  {% endif %}
                  {% for i in num_products.paginator.page_range %}
                  {% if num_products.number == i %}
                  <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                  {% else %}
                  <li><a href="?page={{ i }}">{{ i }}</a></li>
                  {% endif %}
                  {% endfor %}
                  {% if num_products.has_next %}
                  <li><a href="?page={{ num_products.next_page_number }}">&raquo;</a></li>
                  {% else %}
                  <li class="disabled"><span>&raquo;</span></li>
                  {% endif %}
                </ul>
                {% endif %}

                </div>
              </div>
            </div>
            </div>

    </div>
  </div>
</div>

{% endblock %}