{% extends "base_generic.html" %}

{% block content %}


<div class="col-md-12">

  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      <div class="row">
        <div class="col col-xs-12 header_products_subcategory">
          <p>Categoria: <b>{{subcategory.category}}</b></p>
          <select name ="alertas" id="alertas">
                 <option value="">Elige alertas</option>
                 <option value="vencido">Producto vencido</option>
                 <option value="roja">Alerta roja</option>
                 <option value="amarilla">Alerta amarilla</option>
                 <option value="Alerta">Alertas rojas y amarillas </option>
               </select>
          <p>Productos de la subcategoria <b>{{subcategory.name}}</b></p>
        </div>
        
      </div>
    </div>
    <div class="panel-body">
      <table id="table1" class="table table-bordered ">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Subcategoría</th>
            <th>Vencimiento</th>
            <th>Lote</th>
            <th>Unidades</th>
            <th>alerta</th>
            <th></th>
          </tr> 
        </thead>
        <tbody>

          {% for product in subcategory_all_products %}
          <tr class="">
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ subcategory.name}}</td>
            <td>{{ product.expiration_date}}</td>
            <td>{{ product.lot}}</td>
            <td>{{ product.units}}</td>
            {% if product.alert == "red_alert" %}
            <td class="alerta_roja_text">
              !Alerta roja!
              <div class="alerta alerta_circulo_rojo"  ></div>
            </td>

            {% elif product.alert == "yellow_alert" %}
              <td class="alerta_amarillo_text">
                !Alerta amarilla!
                <div class="alerta alerta_circulo_amarillo"></div>
              </td>
              
            {% else %}
            <td>
              !Producto vencido!
               <div class="alerta alerta_circulo_vencido"></div>
            </td>
            {% endif %}
            <td align="center" class="container_boton">
              <a class="boton_detalle" href="{% url 'catalog:product_detalle' product.id %}">
                Detalle
              </a>
              <!-- <a class="btn btn-default"><em class="fa fa-pencil"></em></a> -->
              <!-- <a class="btn btn-danger"><em class="fa fa-trash"></em></a> -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col col-xs-4">
        </div>
        <div class="col col-xs-8">

         
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#table1').DataTable();
    // relaciona el select de alertas con el input search del datatable
    $('#alertas').on('change', alertaFunction);
    function alertaFunction(){
      var oTable = $('.dataTable').dataTable();
      oTable.fnFilter($(this).val());
    }
} );
</script>
{% endblock %}