{% extends "base_generic.html" %}

{% block content %}

<div class="container">
    <div class="row">
        <div class="col-md-12">
            <div class="panel panel-default panel-table" >
              <div class="panel-heading">
                <div class="row">
                  <div class="col col-xs-6">
                    <h3 class="panel-title">Productos</h3>
                    <select name="" id="">
                      <option value="">Elige una categoria</option>
                      {% for category in categories %}
                        <option value="{{category.id}}">{{category.name}}</option>
                      {% endfor %}
                    </select>
                  </div>
                </div>
              </div>
              <div class="panel-body" style="height: 80vh !important;">
                <table class="table table-striped table-bordered table-list" >
                  <thead>
                    <tr>
                        <th class="hidden-xs">ID</th>
                        <th>Producto</th>
                        <th>Categoria</th>
                        <th>Subcategoria</th>
                        <th>Vencimiento</th>
                        <th>Lote</th>
                        <th>Unidades</th>
                        <th>Alerta</th>
                        <th><em class="fa fa-cog"></em></th>
                    </tr> 
                  </thead>
                  <tbody id="datos">









                      <tr>
                        <td class="hidden-xs"></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                        <td></td>
                            <td style="color: red">
                              !Alerta roja!
                              <div style="float:right; width: 20px; height: 20px; background: red;border-radius: 50%;"></div>
                            </td>
                            <td>
                              !Alerta amarilla!
                              <div style="float:right; width: 20px; height: 20px; background: #FFA100;border-radius: 50%;"></div>
                            </td>
                            <td>
                              !Producto vencido!
                               <div style="float:right; width: 20px; height: 20px; background: gray;border-radius: 50%;"></div>
                            </td>
                      
                      </tr>








                  </tbody>
                </table>
              </div>

            </div>

    </div>
  </div>
</div>

<style>
  .panel-footer {
     padding: 0px 15px !important; 
}
</style>


<script>
  url = '{% url 'catalog:busqueda_products' %}';
  csrf_token = '{{ csrf_token }}';
  $('select').on('change', inicio);
  function inicio(){
    var id = $(this).val();
    console.log('el id de la categorya  ' + id)
    $.ajax({
      data:{'id':id},
      url: url,
      type: 'get',
      'csrfmiddlewaretoken': csrf_token,
      success: function(data){
        var html = ""
        
        data_alert = data[data.length-1]
        for(var i = 0; i<data.length-1 ; i++){
          html += '<tr><td class="hidden-xs">'+data[i].pk+'</td>'+'<td>'+data[i].fields.name+'</td>'+'<td>'+data[i].fields.category+'</td>'+'<td>'+data[i].fields.sub_category+'</td>'+'<td>'+data[i].fields.expiration_date+'</td>'+'<td>'+data[i].fields.lot+'</td>'+'<td>'+data[i].fields.units+'</td>'+'<td>'+data[i].fields.alert+'</td>'
        }
        $('#datos').html(html)

      }
    });
  }
  
</script>


{% endblock %}