{% extends "base_generic.html" %}

{% block content %}


<div class="col-md-12">

  <div class="panel panel-default panel-table">
    <div class="panel-heading">
      <div class="row">
        <div style="display: flex; justify-content:space-around; align-items: center;" class="col col-xs-12">
          <p>Categoria: <b>{{subcategory.category}}</b></p>
          <select name ="alertas" id="alertas">
                 <option value="">Elige alertas</option>
                 <option value="vencido">Producto vencido</option>
                 <option value="roja">Alerta roja</option>
                 <option value="amarilla">Alerta amarilla</option>
                 <option value="Alerta">Alertas rojas y amarillas </option>
               </select>
          <p>Productos de la subcategoria <b>{{subcategory.name}}</b></p>
        </div>
        
      </div>
    </div>
    <div class="panel-body" style="">
    <!-- <div class="panel-body" style="height: 80vh !important;"> -->
      <table id="table1" class="table table-bordered ">
        <thead>
          <tr>
            <th>Producto</th>
            <th>Categoría</th>
            <th>Subcategoría</th>
            <th>Vencimiento</th>
            <th>Lote</th>
            <th>Unidades</th>
            <th>alerta</th>
            <th></th>
          </tr> 
        </thead>
        <tbody>

          {% for product in subcategory_all_products %}
          <tr class="">
            <td>{{ product.name }}</td>
            <td>{{ product.category }}</td>
            <td>{{ subcategory.name}}</td>
            <td>{{ product.expiration_date}}</td>
            <td>{{ product.lot}}</td>
            <td>{{ product.units}}</td>
            {% if product.alert == "red_alert" %}
            <td style="color: red">
              !Alerta roja!
              <div style="float:right; width: 20px; height: 20px; background: red;border-radius: 50%;"></div>
            </td>

            {% elif product.alert == "yellow_alert" %}
              <td style="color: #FFA100">
                !Alerta amarilla!
                <div style="float:right; width: 20px; height: 20px; background: #FFA100;border-radius: 50%;"></div>
              </td>
              
            {% else %}
            <td>
              !Producto vencido!
               <div style="float:right; width: 20px; height: 20px; background: gray;border-radius: 50%;"></div>
            </td>
            {% endif %}
            <td align="center">
              <a href="{% url 'catalog:product_detalle' product.id %}" 
              style="color: #333 !important; padding: 5px;border-radius: 5%;
    border: 1px solid #979797;
    background-color: white;
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fff), color-stop(100%, #dcdcdc));
    background: -webkit-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -moz-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -ms-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: -o-linear-gradient(top, #fff 0%, #dcdcdc 100%);
    background: linear-gradient(to bottom, #fff 0%, #dcdcdc 100%);">
                Detalle
              </a>
              <!-- <a class="btn btn-default"><em class="fa fa-pencil"></em></a> -->
              <!-- <a class="btn btn-danger"><em class="fa fa-trash"></em></a> -->
            </td>
          </tr>
          {% endfor %}
        </tbody>
      </table>
      
    </div>
    <div class="panel-footer">
      <div class="row">
        <div class="col col-xs-4">
        </div>
        <div class="col col-xs-8">

         
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('#table1').DataTable();
    // relaciona el select de alertas con el input search del datatable
    $('#alertas').on('change', alertaFunction);
    function alertaFunction(){
      var oTable = $('.dataTable').dataTable();
      oTable.fnFilter($(this).val());
    }
} );
</script>

<style>
  .panel-footer {
     padding: 0px 15px !important; 
}
</style>

{% endblock %}